.title-countdown {
    color: hsl(0, 0%, 44%);
    font-family: 'Georgia', sans-serif;
    font-weight: 600;
    margin-left: 120px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-left: 120px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: #1d9aac;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #6cd7e6;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.img-future-event {
    position: relative;
    margin-right: 100px;
    width: 20%;
    height: 40%;
}