* {
    box-sizing: border-box;
}

.wrapper-boxed {
    /* width: 1240px; */
    margin: auto auto auto auto;
    float: center;
    background-color: rgb(238, 238, 238);
}

.site-wrapper {
    width: 100%;
    float: left;
    margin: 0px auto auto auto;
    background-color:rgb(238, 238, 238);;

}

.header-logo {
    float: left;
    margin-left: 100px;
}

nav {
    list-style: none;
    position: relative;
    float: right;
    font-family: 'Georgia', sans-serif;
    font-weight: 600;
    margin-top: 120px;
    margin-right: 100px;
    background-color:#c5c1c0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-weight: bold;
}

li {
    float: left;
}

li a {
    display: block;
    color: #1a2930;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f2f2f2;
}
